{
  "MailAccount": {
    "Host": "imap.domain.tld",
    "Port": "443",
    "Username": "user@domain.tld",
    "Password": "Password12345"
  },
  "DbAccount": {
    "Host": "localhost",
    "Port": "5432",
    "DbName": "dtfbotdb",
    "Username": "dbuser",
    "Password": "Password6789"
  }
}